* {
  box-sizing: border-box;
  font-family: "Abel", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to bottom,
    rgb(43, 50, 178) 0%,
    rgb(20, 136, 204) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;

  h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
  }

  h3 {
    font-size: 1.1rem;
    font-weight: 600;
  }

  p {
    font-size: 1rem;
    color: #fff;
  }
}
